# IDE files
.vs/
.vscode/
.idea/
.ionide/

# Build files
bin/
obj/
build/

# User-specific files
*.suo
*.user
*.userprefs

# Un-ignore scripts
!/bin
/bin/configlet
/bin/configlet.exe

# Prob-specs repo
.problem-specifications

# Other files
.DS_Store
