name: Run PSScriptAnalyzer

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-24.04
    steps:
      - name: Run PS script analyzer
        uses: microsoft/psscriptanalyzer-action@6b2948b1944407914a58661c49941824d149734f
        with:
          path: .\
          recurse: true
          output: results.sarif
          excludeRule: '"PSUseSingularNouns"'
