name: Run PSScriptAnalyzer

on: [push, pull_request]

jobs:
  analyze:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4
      - run: pwsh ./powershell-script-analyzer.ps1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
